@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Playfair Display', serif;
  padding: 30px 37%;
  background: rgb(235, 235, 235);
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1300px) {
  body {
    padding: 30px 33%;
  }
}

@media (max-width: 1000px) {
  body {
    padding: 30px 25%;
  }
}

@media (max-width: 600px) {
  body {
    padding: 30px 3%;
  }
}

.container {
  width: 100%;
  height: 100%;
  background: rgb(245, 245, 245);
  padding: 20px;
  border-radius: 30px;
  box-shadow: 5px 5px 10px rgb(200, 200, 200);
}

.header {
  display: flex;
  justify-content: space-between;
}

.header h1 {
  padding-top: 75px;
}

.header i {
  font-size: 75px;
}

.card {
  padding: 15px;
  border-radius: 20px;
  background: #fff;
  width: 145px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-shadow: 5px 5px 10px rgb(221, 221, 221);
}

.card h3 {
  font-size: 17px;
}

.card h2 {
  font-size: 30px;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 380px;
  margin-top: 20px;
}

.main__time {
  width: 100%;
  text-align: center;
  height: 100px;
}

.main__time #time {
  font-size: 30px;
}

.main > div:nth-child(2) {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

/* .main__sahar,
.main__iftar {
  height: 145px;
} */

/* .main__sahar > button,
.main__iftar > button {
  font-size: 14px;
  font-weight: bolder;
  display: flex;
  justify-content: space-between;
  padding: 4px 10px;
  background: rgb(245, 245, 245);
  border-radius: 7px;
  cursor: pointer;
  border: none;
  font-family: 'Playfair Display', serif;
}

.main__sahar > button:hover,
.main__iftar > button:hover {
  background: rgb(238, 238, 238);
} */

.main-left {
  width: 100%;
  text-align: center;
  height: 100px;
}
